---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Comments from "@components/Comments";
import Datetime from "@components/Datetime";
import PostLinks from "@components/PostLinks.astro";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import ShareLinks from "@components/ShareLinks.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE } from "@config";

import ScrollProgress from "@components/scripts/ScrollProgress.astro";
import HeadingLinks from "@components/scripts/HeadingLinks.astro";
import CodeBlockExtras from "@components/scripts/CodeBlockExtras.astro";

export interface Props {
  post: CollectionEntry<"blog">;
  posts: CollectionEntry<"blog">[];
}

const { post, posts } = Astro.props;

const {
  title,
  description,
  readingTime,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
} = post.data;

const { Content } = await post.render();

const layoutProps = {
  title: `${title} | ${SITE.title}`,
  ogTitle: title,
  description,
  readingTime,
  pubDatetime,
  modDatetime,
  canonicalURL,
  scrollSmooth: true,
};
---

<Layout {...layoutProps}>
  <Header/>

  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="(() => (history.length === 1) ? window.location = '/' : history.back())()"
    >
      <svg xmlns="http://www.w3.org/2000/svg">
        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/>
      </svg>
      <span>go back</span>
    </button>
  </div>

  <main id="main-content">
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      className="my-2"
    />
    <span class="flex items-center space-x-2 opacity-80 italic">{readingTime}</span>
    
    <article id="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content/>
    </article>

    <ul class="my-8">
      {tags.map((tag: string) => <Tag tag={slugifyStr(tag)}/>)}
    </ul>

    <div class="flex flex-col-reverse items-center justify-between gap-6 sm:flex-row-reverse sm:items-end sm:gap-4">
      <BackToTop/>
      <ShareLinks/>
    </div>

    <PostLinks post={post} posts={posts}/>
    <Comments client:only="react"/>
  </main>

  <Footer/>
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>

<ScrollProgress/>
<HeadingLinks/>
<CodeBlockExtras/>

<script is:inline data-astro-rerun>
  /* Go to page start after page swap */
  document.addEventListener("astro:after-swap", () =>
    window.scrollTo({ left: 0, top: 0, behavior: "instant" })
  );
</script>
