---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
  tag: string;
  tagName: string;
}

const { page, tag, tagName } = Astro.props;

const pageDesc = `${page.total} ${page.total === 1 ? "article" : "articles"} tagged with "${tagName}"`;
---

<Layout title={`tag: ${tagName} | ${SITE.title}`} description={pageDesc}>
  <Header activeNav="tags"/>
  <Main pageTitle={[`tag:`, `${tagName}`]} titleTransition={tag} pageDesc={pageDesc}>
    <h1 slot="title" transition:name={tag}>{`tag:${tag}`}</h1>
    <ul>
      {page.data.map(({ data, slug }) =>
        <Card href={`/posts/${slug}/`} frontmatter={data}/>
      )}
    </ul>
  </Main>

  <Pagination {page}/>

  <Footer noMarginTop={page.lastPage > 1}/>
</Layout>
